Body {
  background-image:url(../image/marais.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  }

header.tete {
  background:no-repeat url(../image/header.jpg);
  height: 500px;
  min-width: 150px;
  background-position: center;
}
h1 {
  font-size: 180px;
  text-align: center;
  padding-top: 15px;
  font-family: 'Abril Fatface', cursive;
}
#police {
  font-family: 'Teko', sans-serif;
}
/* Barre de naviguation */
nav ul{
  display: flex;
  justify-content: left;
  /* ammener le texte de naviguation à gauche */
}
ul {
  /* Enlever les balles de la liste */
  list-style-type: none;
  background-color: #333333;
  /* Arrondir les bords */
  border-radius: 30px;
  height: 40px;
  padding: 30px;
}
li a {

  color: white;
  font-size: 50px;
  padding: 50px;
  /* enlever les effets des liens */
  text-decoration: none;
  display: block;
  line-height: 40px;
  padding: 0 70px
}
li a:hover {
  /* Interaction quand la souris passe */
  background-color: #111111;
  font-size: 60px;
  border-radius: 40px;
}
 #home {
/* petite image de l'accueil */
   height: 50px;
   width: 50px;
   }

/* SearchBar */
#search {
  border: none;
  width: 800px;
  height: 50px;
  font-size: 20px;
}
#search-btn {
  background-color: #E8B960;
  border-color: #E8B960;

  width: 300px;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
#search-btn:hover {
  font-size: 40px;
}
#premierBloc {
 font-size: 50px;
 height: 900px;
 color: #FFFFFF;
 background-color: #333333;
 background-color: rgba(111, 111, 111, 0.5);

 margin: 10%;
 border-radius: 40px;
}

/* lesTroisBlocs */
#conteneur img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #333333
  }
#conteneur {
  display: flex;
  flex-direction: row;
  height: 1700px;
  padding: 70px;
  margin: 200px;
  background-color: #333333;
  background-color: rgba(111, 111, 111, 0.5);
  border-radius: 40px;
  font-size: 50px;
  border: shadow;
  text-align: center;
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 180px;
  text-align: center;

  font-family: 'Abril Fatface', cursive;
}

/* grossirImageSiSourisPasse> */
.element1:hover img {
  width: 40%;
  transform:scale(1.10);

}
.element2:hover img {
  width: 40%;
  transform:scale(1.10);

}
.element3:hover img {
  width: 40%;
  transform:scale(1.10);
}
.element1 {
}
